<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="error-title">404</h1>
    <p class="error-message">Lo sentimos, la página que buscas no existe.</p>
    <a href="/" class="btn btn-home">Volver al Inicio</a>
    <img src="https://jonahwrites.blog/wp-content/uploads/2022/01/luffy-confused-face-cropped-1024x512-1.jpg?w=1024" alt="Imagen de error" class="img-fluid mt-4" style="max-width: 600px;">
</div>


<%- include('./partials/footer') %>